[Unit]
Description= SCSEM is a Sensor Collector Software EM
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/emem/scsem/scripts/scsem.py
Restart=on-abort

[Install]
WantedBy=multi-user.target



